@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100% !important;
  min-height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #f3f4f6;
  display: block !important;
}

* {
  box-sizing: border-box;
}